

@import "tailwindcss";
*{
   font-family: "Maison Neue Book";
}

body {
 height: 100vh;
  /* background-color: #2148C0; */
 
 
  

}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
i {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 250px;
  background-color: aqua;
  margin-bottom: 40px;
  z-index: 1;

}



